html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: #fff;
	font-family: 'Poppins'.sans-serif;
	font-size: 16px;
}

.col {
	border-radius: 30px;
	height: 30vw;
	width: 30vw;
	padding: 3%;
	margin: 0% 1% 0% 2%;
}

li.servProvButton {
	float: right;
	border-style: solid;
	border-radius: 20px;
	padding: 5px 20px;
	margin: 1% 0% 1% 10vw;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.col {
		border-radius: 40px !important;
		margin: 5%;
	}
	.book-now-cont {
		top: 46vh !important;
		font-size: 24px !important;
		width: 80% !important;
		margin-left: 10% !important;
		height: 8vh !important;
		padding: 6px !important;
	}
	div.bookingSticky {
		height: 50vh !important;
	}
	img.d-block {
		height: 50vh !important;
	}
}

@media screen and (max-width: 1399) {
	li.servProvButton {
		margin: 1% 0% 1% 3vw;
	}
}

div.search-icon {
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 999;
/*	margin-right: 16vw;*/
	margin-left: 0vw;
}

div.search-icon-last {
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 999;
}

div.inset-search {
	width: 5.5vw;
	height: 5.5vw;
	border-radius: 50%;
	background: #fff;
	z-index: 999;
	margin: 0.75vw 0 0 0.75vw;
	background-image: linear-gradient(to bottom right,#55D983,#55BFAB);
}

div.search-field {
	margin-left: -5vw;
	margin-right: -5vw;
	margin-top: 4vh;
	width: 26vw;
	padding-left: 6vw;
  	height: 8vh;
  	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 800;
}

/*div.search-date-field-l {
	margin-left: -3vw;
	margin-top: 4vh;
	width: 11vw;
  	height: 8vh;
  	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 800;
}*/

div.search-date-field {
	margin-left: -3vw;
	margin-right: -3vw;
	margin-top: 4vh;
	width: 22vw;
  	height: 8vh;
  	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 800;
	font-size: 18px;
/*	padding: 12.5px 5px 0px 5px;*/
}

input.date-input {
	width: 14vw;
	margin-top: 1.5vh;
	margin-left: 0vw;
	height: 5vh;
}

/*div.search-date-field-r {
	margin-right: -3vw;
	margin-top: 4vh;
	width: 11vw;
  	height: 8vh;
  	background: #fff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 800;
}*/

input.location-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000;
  height: 6vh;
  width: 14vw;
  margin-right: 9vw;
  padding: 5px;
  font-size: 18px;
}

/*input.location-input:focus {
	color: #C4C4C4;
}

.location-input:focus ~ div.search-icon {
 	margin-left: 2vw;
}*/

div.mobileNavbar {
	position: fixed;
	bottom: -1.5vh;
	padding: 1vh 10vw;
	height: 14vh;
	display: inline !important;
	justify-content: space-between;
	z-index: 1200;
	background-color: #fff;
	width: 100vw;
	justify-content: space-between;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
}

a.navbar-brand {
	font-family: 'Poppins'.sans-serif;
	font-weight: 400;
	font-size: calc(1vw + 1vh + 50%);/*38*/
	line-height: 57px;
	margin-right: 40px;
}

a.nav-link {
	margin-top: 2px;
	color: #000 !important;
	padding: 0px;
}

li.nav-item {
	margin-right: 20px;
	/*padding: 0 5px;*/
/*	padding-left: 20px;*/
	padding: 0px 0px 0px 20px;
	display: inline-block;
	border-color: #E7E7E7;
	border-left-style: solid;
	border-width: 5px;
	font-size: 24px;/*
	line-height: 36px;*/
	color: #fff !important;
}

nav.navbar {
	position: fixed;
	top: 0%;
	z-index: 1001;
	width: 94%;
	margin-left: 3%;
	height: 11vh;
	padding-left: 2%;
	padding-right: 4%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	align-items: center;
	font-family: 'Poppins'.sans-serif;
	font-weight: 400;
	font-size: 24px;/*
	line-height: 36px;*/
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.navCont {
	position: sticky;
	z-index: 1000;
}

@media screen and (max-width: 768px) {
	nav.navbar {
		display: none;
		position: fixed;
		top: 89vh;
		height: 11vh;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		width: 100%;
	}	
}

@media screen and (min-width: 769px) {
	div.mobileNavbar {
		display: none !important;
	}
}

img.d-inline-block {
	align-items: center;
	margin-right: 22px;
	margin-top: 8px;
}

div.book-now-cont {
	position: absolute;
	margin-left: 33%;
	top: 75vh;
	height: 12vh;
	width: 34%;
	text-align: center;
  	background-color: #fff;
  	padding: 10px;
  	text-align: center;
  	align-items: center;
  	font-size: 36px;
  	font-weight: 500;
  	z-index: 250;
  	border-radius: 20px;
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.book-park-cont {
	position: absolute;
	margin-left: 30%;
	top: 300%;
	width: 40%;
	height: 18%;
	text-align: center;
 	background-color: #fff;
  	padding: 20px;
  	font-size: 50px;
  	font-weight: 500;
  	z-index: 225;
  	border-radius: 20px;
/*  box-shadow: 5px 10px 18px #E0E0E0;*/
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*@media screen and (max-width: )*/

div.bookingSticky {
  /*position: -webkit-sticky;
  position: sticky;*/
  top: 100%;
  top: 0;
  height: 19vh;
  text-align: center;
  background-color: #fff;
  padding: 1.5vh 0 0 11vw;
  font-size: 30px;
  z-index: 200;
/*  box-shadow: 5px 10px 18px #E0E0E0;*/
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

div.parkBookingSticky {
/*  position: -webkit-sticky;
  position: sticky;*/
  top: 100%;
  top: 0;
  height: 19vh;
  text-align: center;
  background-color: #fff;
  padding: 1.5vh 0 0 11vw;
  font-size: 30px;
  z-index: 200;
/*  box-shadow: 5px 10px 18px #E0E0E0;*/
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.carousel-indicators {
	position: absolute;
	top: 75%;
}

.carousel-indicators > li {
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin: 0 10px !important;
}

div.daterangepicker {
/*	background-color: #55D983;
	color: white;*/
	font-family: 'Poppins'.sans-serif;
/*	font-size: 10px;*/
	z-index: 999;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}